{% extends "base.html" %}
{% block title %}Create A Post{% endblock title %}

{% block content %}
<!-- id(?) title, content, date created(?), mauthor, comments, category -->
<form method="POST">
    <div class="centered-form">
        <h3>Create Post</h3>
        <label for="title">Title</label>
        <input 
            class="form-control"
            type="text" 
            id="title"
            name="title"
            placeholder="Post title"
            required
        />
        <br>
        <label for="content">Content</label>
        <textarea name="content" id="content" class="form-control"></textarea>
    
        <br>

        <!-- Revisit categories -->
        <label>Select Category</label>
        <br>
        <div class="categoryIcon">
        <label>
            <input 
                class="form-control" 
                type="radio" 
                id="baby_health" 
                name="category"
                value="Baby Health"
                required
            />
            <img class="avatar-img" src="{{ url_for('static', filename='assets/babyHealth.png') }}" alt="Mom"/>
        </label>

        <label>
            <input 
                class="form-control" 
                type="radio" 
                id="tips_and_tricks" 
                name="category"
                value="Tips and Tricks"
                required
            />
            <img class="avatar-img" src="{{ url_for('static', filename='assets/tipsAndTricks.png') }}" alt="Mom"/>
        </label>

        <label>
            <input 
                class="form-control" 
                type="radio" 
                id="support" 
                name="category"
                value="Support"
                required
            />
            <img class="avatar-img" src="{{ url_for('static', filename='assets/support.png') }}" alt="Mom"/>
        </label>

        <label>
            <input 
                class="form-control" 
                type="radio" 
                id="mom_health" 
                name="category"
                value="Mom Health"
            />
            <img class="avatar-img" src="{{ url_for('static', filename='assets/momHealth.png') }}" alt="Mom"/>
        </label>
    </div>
        <br>
        <br>
        <br>
        
        <button type="submit" class="submit-buttons">Submit Post</button>

        <br>
        <br>
        <br>
        <br>
    </div>
    
</form>
{% endblock content %}
