{% extends "base.html" %}
{% block title %}List a Product{% endblock title %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="productDetails">
        <h3>List Product</h3>
        <br>
        <label for="title">Name</label>
        <input 
            class="form-control"
            type="text" 
            id="name"
            name="name"
            placeholder="Enter product name"
            
        />
        <br>
        <label for="title">Price</label>
        <input 
            class="form-control"
            type="number"
            id="price"
            name="price"
            placeholder="Enter price ($USD)"
            
        />
        <br>
        <label for="age">Select Age</label>
        <select
            id="age" name="age"
            class="form-control">
            <option value="" disabled selected>Select an Age</option>
            <option value="newborn">Newborn</option>
            <option value="infant">Infant</option>
            <option value="toddler">Toddler</option>
            <option value="child">Child</option>
        </select>
        <br>
        

        <div class="radio-div">
            <label for="category">Select Product Type</label>
            <br>
            <label>
                <input 
                    class="form-control" 
                    type="radio" 
                    id="toys" 
                    name="category"
                    value="toys"
                    product-type="toys"
                    required
                />
                <img class="avatar-img" src="{{ url_for('static', filename='assets/bear.png') }}" alt="Toys"/>
            </label>
            <br>
            <label>
                <input 
                    class="form-control" 
                    type="radio" 
                    id="clothes" 
                    name="category"
                    value="clothes"
                    product-type="clothes"
                    required
                />
                <img class="avatar-img" src="{{ url_for('static', filename='assets/clothes.png') }}" alt="Clothes"/>
            </label>
            <br>
            <label>
                <input 
                    class="form-control" 
                    type="radio" 
                    id="furniture" 
                    name="category"
                    value="furniture"
                    product-type="furniture"
                    required
                />
                <img class="avatar-img" src="{{ url_for('static', filename='assets/furniture.png') }}" alt="Furniture"/>
            </label>
            <br>
            <label>
                <input 
                    class="form-control" 
                    type="radio" 
                    id="misc" 
                    name="category"
                    value="misc"
                    product-type="misc"
                    required
                />
                <img class="avatar-img" src="{{ url_for('static', filename='assets/misc.png') }}" alt="Misc"/>
            </label>
        </div>
        <!-- <div class="categoryOptions">
          <br>
          <label>
              <input 
                  class="form-control" 
                  type="radio" 
                  id="toys" 
                  name="category"
                  value="toys"
                  product-type="toys"
              />
              <img class="avatar-img" src="{{ url_for('static', filename='assets/bear.png') }}" alt="Mom"/>
          </label>
          <label>
            <input 
                class="form-control" 
                type="radio" 
                id="clothes" 
                name="category"
                value="clothes"
                product-type="clothes"
            />
            <img class="avatar-img" src="{{ url_for('static', filename='assets/clothes.png') }}" alt="Mom"/>
        </label>
        <label>
          <input 
              class="form-control" 
              type="radio" 
              id="furniture" 
              name="category"
              value="furniture"
              product-type="furniture"
          />
          <img class="avatar-img" src="{{ url_for('static', filename='assets/furniture.png') }}" alt="Mom"/>
      </label>
          <label>
            <input 
                class="form-control" 
                type="radio" 
                id="materials_misc" 
                name="category"
                value="materials_misc"
                product-type="materials_misc"
            />
            <img class="avatar-img" src="{{ url_for('static', filename='assets/misc.png') }}" alt="Mom"/>
        </label>
         
      </div> -->

        <label for="description">Description</label>
        <textarea
            name="description"
            id="description"
            placeholder="Enter a description of your product"
            class="form-control"></textarea>
        <br>
        <br>

        <label for="file">Upload Image</label>
        <input 
            class="form-control" 
            type="file" 
            id="file" 
            name="file"
            accept="image/*"
        />
  <br>
  <br>
        <button type="submit" class="submit-buttons">Submit Listing!</button>
    </div>
    
</form>

{% endblock content %}
