/*
    COLOURS <3

    primaryGreen: "#898834",
    secondaryGreen: "#afae65",
    background: "#f5f2ed",
    lightTeracotta: "#d27f57",
    teracotta: "#b15e35"


    FONTS <3

    font-family: 'Rubik', sans-serif;

    CENTERING DIVS <3

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
*/

body {
  background-color: #f5f2ed;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

#logo {
  margin-top: -1em;
  width: 45em;
  height: auto;
}

#title-row {
  /* TODO: come back */
  display: inline-block;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}


header {
  background-color: #f5f2ed;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-width: 100px; /* Adjust as needed */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

.content {
  padding: 20px;
}

footer {
  background-color: #f9f9f9;
  padding: 10px 0;
  text-align: center;
}

/* MOM OR EXPERT */
/* --------------------------------------------- */

.signUpAsA {
  font-family: "Rubik", sans-serif;
}

/* SIGNUP FORMS */
/* --------------------------------------------- */

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family:"Rubik", sans-serif; 
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 2px solid #afae65;
}

.avatar-img {
  height: 9em;
  width: auto;
  border-radius: 50%;
}

#signup-options-div {
  display: inline-block;
  margin-left: 13%;
  margin-top: 5%;
}

#make-post-button {
  border: none;
  background-color: #d08c6a;
  border-radius: 4px;
  color: #f5f2ed;
  padding: 4px 8px;
}

.im-a-img {
  height: 25em;
  width: auto;
  margin-left: 3em;
  margin-right: 3em;
}

.im-a-img:hover {
  height: 27em;
  width: auto;
}

.submit-buttons {
  border: none;
  background-color: #d08c6a;
  border-radius: 4px;
  color: #f5f2ed;
  padding: 4px 8px;
}

.form-control {
  background-color: #f5f2ed;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #898834;
  width: 500px;
}

/* CENTERED FORMS */
/* --------------------------------------------- */
.categoryOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family:"Rubik", sans-serif; 
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family:"Rubik", sans-serif; 
}

/* NAVBAR STUFF */
/* --------------------------------------------- */
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 a {
   text-decoration: none;
   color: #afae65;
 }
 
 a:hover
 {
   text-decoration: none;
   color: #afae65;
 }
 
 #menuToggle
 {
   display: block;
   position: absolute;
   top: 50px;
   right: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #898834;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #898834;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   opacity: 1;
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 0;
   padding: 50px;
   padding-top: 125px;
   right: -100px;
   
   background: transparent;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 24px;
   color: #898834;
 }

 #menu li:hover {
  font-size: 28px;
 }
 
 /*
  * And let's fade it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
   opacity: 1;
 }
 
 @media screen and (max-width: 768px) {
   #menu {
     transform: none;
     opacity: 0;
 
     transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }
 }

 /* BLOG POST CSS */
 /* ------------------------------------------------------------------- */

 .delete-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  right: -95%;
  width: fit-content;
  height: fit-content;
  z-index: 2;
}

.post-heading {
  display: inline-block;
}

.delete-button:hover {
  background: none;
  border: none;
}

.compost-image {
  height: 3em;
  width: auto;
}

.compost-image:hover {
  height: 3.5em;
  width: auto;
}


/* Add a gray background color with some padding */
#make-post-button {
  border-radius: .375em;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  padding: .75rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#make-post-button:hover {
  border-color: #898834;
}

.iconRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: -3em;
}

.icon-links {
  margin-bottom: -28em;
  height: 40em;
  width: auto;
}

.iconRow img {
  height: 30%;
  width: auto;
}

.iconRow img:hover {
  height: 33%;
  width: auto;
}

.card {
   background-color: #bbba86;
   padding: 2em;
   border-radius: 50px;
   width: 70em;
   font-family: 'Rubi', sans-serif;
  }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #f5f2ed;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 90%;
    padding: 0;
  }
}
/* comment section for blog posts */
.comment-section {
  background-color: #f5f2ed;
  padding: 20px;
  border-radius: 8px;
  color: black;
}

.comment {
  margin-bottom: 10px;
}

.comment p {
  margin: 0;
}

.comment strong {
  font-weight: bold;
}


.iconRowListings {
  background-color: #afae6589;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.iconRowListings img{
  height: 8%;
  width: 8%;
}

.listingsRow {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 50px; /* Add gap between grid items */
}

.listingsGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.listing {
  background-color: #8cb6c4;
  padding: 30px;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

.categories {
  background-color: #ecf0f1;
  padding: 20px;
  display: flex;
  flex-direction: row; 
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Add space between elements */
  align-items: center;
}

.product img {
  max-width: 100%;
}

#inquiryModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.inquireButton {
  background-color: #699fb1;
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: white; /* Set the default text color */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Add transition effect */
}

.inquireButton:hover {
  background-color: white;
  color: #699fb1;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add a gray background color with some padding */
#submit-listing-button {
  border-radius: 5px;
  text-align: center;
  font-size: 0.5 rem;
  background-color: #d08c6a;
  color: white;
  cursor: pointer;
  padding: .5rem 1rem; /* Adjusted padding */
  margin-bottom: 10px;
  height: 40px;
  width: 160px;
  border: none;
  margin-bottom: 20px;
}

#submit-listing-button:hover {
  background-color: #d280577d;
}

.filter {
  background-color: #f5f2ed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#ageFilter {
  padding: 8px;
  background-color: #f5f2ed;
  border: none;
}

#categoryFilter {
  padding: 8px;
  background-color: #f5f2ed;
  border: none;
}

.categoryIcon {
  height: 7%;
  width: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.titling {
text-align: center;
font-family: 'Rubik', sans-serif;
}

/* RESOURCES CSS */
.resourcesGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.resources1 {
  background-color: #d27f57;
  padding: 30px;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  margin: 0 auto; /* Center horizontally */
  max-width: 1300px; /* Set a maximum width */
  display: block; /* Display as block to cover the entire width */
  width: 1000px; /* Cover the entire width */
  margin-left: 180px;
  color: white;
}

.resources2 {
  background-color: #e9af92;
  padding: 30px;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  margin: 0 auto; /* Center horizontally */
  max-width: 1300px; /* Set a maximum width */
  display: block; /* Display as block to cover the entire width */
  width: 1000px; /* Cover the entire width */
  margin-left: 180px;
  color: white;
}

.resources3 {
  background-color: rgb(244, 207, 188);
  padding: 30px;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  margin: 0 auto; /* Center horizontally */
  max-width: 1300px; /* Set a maximum width */
  display: block; /* Display as block to cover the entire width */
  width: 1000px; /* Cover the entire width */
  margin-left: 180px;
  color: rgb(0, 0, 0);
}

.resourcesRow {
  gap: 50px; /* Add gap between grid items */
}

/* Adjusted CSS to arrange items horizontally */
.resourcesGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flower-container {
  display: flex;
}

.flower-item {
  margin: 0 10px; /* Adjust margin between flowers */
}

.image-overlay {
  text-align: center; /* Center the content */
}

.image-overlay img {
  display: block;
  margin: 0 auto;
  width: 100px; /* Adjust image width as needed */
  height: auto;
}

.overlay-text {
  margin-top: 10px;
  color: white;
}

.overlay-text2 {
  margin-top: 10px;
  color: rgb(0, 0, 0);
}
